body {
  font-family: lato;
}

#hero-img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
   }

   .img-nav-container {
    position: relative;
    top: 0;
    left: 0;
   }

   #slogan {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 300px;
    width: 500px;
    background-color: transparent;
    
  }

  #getStarted {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 0 65px;
    
    
   }

   #getStarted:hover {
     background-color: whitesmoke;
     -webkit-transform: scale(1.05);
     -ms-transform: scale(1.05);
     transform: scale(1.05);

    
    
  }

  #slogan-text {
    font-size: 35px;
    text-align: center;
  }


