.brand-logo img {
    height: 22px;
    width: 173px;
    margin-left: 30px;
    margin-top: 20px;
    z-index: 100;
    
  }

  .sidebar{
    background: #252c35;
    color: #fff;
    height: 100%;
 
   

}
.sidebar{
    width: 250px;
    float: left;
    position: absolute;
}

.additionalClassForHead {
    background-color: #252c35 !important;
}

.additionalClassForContent {
    background-color: #1f2831 !important;
    color: #808791 !important;
    border-left: 2px solid #89f0d4;
    cursor: pointer;
}

.dropDownList {
    margin-left: 50px;
}

.dropDownItem {
    margin: 20px 0;
    
}

.dropDownItem:hover {
    cursor: pointer;
}

.bullet {
    background-color: #9ae2e6;
    border-radius: 6px;
    height: 6px;
    margin-left: -20px;
    margin-right: 10px;
    width: 6px;
    box-shadow: rgb(161,237,214) 0px 0px 10px;
    float: left;
    position: relative;
    margin-top: 8px;
 
}

.mx-donutchart {
    margin: auto;
    width: 50%;
    cursor: pointer;
 
}

.hideMe {
    display: none;
}

.centerCards {
 
 width: 100%;
margin-left: 6.5%;
 
}

#donutChart {
    margin-top: 20px;
    
    margin-left: 1.5%;
    margin-top: 20px;
    width: 375px;
    height: 340px;
    float: left;
    
}

#commentCard {
    margin-top: 20px;
    
    margin-left: 1.5%;
    margin-top: 20px;
    width: 375px;
    height: 340px;
    float: left;
    
}

#barChart {
   
    margin-top: 20px;
    
    margin-left: 8%;
    margin-top: 4px;
    width: 82%;
    height: 350px;
    float: left;
    
}



.mx-menu {
  line-height: 10px !important;
 
}

.totalCommentsNumber {
    font-size: 100px;
    margin: -20px;
    color: grey;
    cursor: pointer;
    margin-top: 12px;
}

.totalCommentsNumber:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.totalComments {
    color: grey;
    cursor: pointer;
}